<!--begin::Main-->
<app-header-mobile></app-header-mobile>
<div class="d-flex flex-column flex-root" >
  <!--begin::Page-->
  <div class="d-flex flex-row flex-column-fluid page">
    <!--begin::Wrapper-->
    <div class="d-flex flex-column flex-row-fluid wrapper " id="kt_wrapper" >
      <!--begin::header-->
        <app-header></app-header>
      <!--end::header-->
      <!--begin::Content-->
    <br>
      <div class="content d-flex flex-column flex-column-fluid"  id="kt_content" style="height:490px;width:100%;overflow-y:auto;" >
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid" >
          <!--begin::Container-->
          <div class="container" >
            <!--begin::Row-->
            <div class="row">
                <!--begin::col-xl-4-->
              <div class="col-xl-12">
                <!--begin::contenido-->
                <div class="card card-custom gutter-b card-stretch">
<div class="container">
  <div class="card">
    <div class="card-header font-weight-bold">
      Editar usuario
    </div>
    <div class="card-body">
      <form (ngSubmit)="update()">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label>Nombre</label>
              <input [(ngModel)]="usuario.nombre" type="text" class="form-control" placeholder="Nombre" name="nombre" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-4">
              <label>Apellidos</label>
              <input [(ngModel)]="usuario.apellidos" type="text" class="form-control"  placeholder="Apellidos" name="apellidos" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-4">
              <label>Email</label>
              <input [(ngModel)]="usuario.email" type="text" class="form-control" placeholder="Email" name="email" [ngModelOptions]="{standalone: true}">

            </div>
            <div class="form-group col-md-4">
              <label>Username</label>
              <input [(ngModel)]="usuario.username" type="text" class="form-control"  placeholder="Username" name="username" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-md-4">
              <label for="rol">Rol</label>
             <select [compareWith]="compararRol"  class="browser-default custom-select" [(ngModel)]="rol" (ngModelChange)='onSelectRol()' [ngModelOptions]="{standalone: true}">
                <option [ngValue]="undefined" >--selecciona--</option>
                <option *ngFor="let rol of roles" [ngValue]="rol" >{{rol.nombre}}</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="pais">Estatus</label>
             <select  class="browser-default custom-select" [(ngModel)]="usuario.estatus" [ngModelOptions]="{standalone: true}">
                <option [ngValue]="undefined" >--selecciona--</option>
                <option *ngFor="let estatu of estatus" [value]="estatu.value" >{{estatu.text}}</option>
              </select>
            </div>
        </div>
        <hr>
        <div *ngIf="activeCheck">
        <div class="form-group row" >
        <div class="col-sm-2">Empresas</div>
        <div class="col-sm-10">
          <div  class="form-check form-check-inline" *ngFor="let cliente of clientes" >
            <input  class="form-check-input"   type="checkbox" [(ngModel)]="cliente.isChecked"  (change)="onCheckboxCliente()"   value=cliente.id [ngModelOptions]="{standalone: true}">
            <label class="form-check-label" for="gridCheck1">{{cliente.nombre}}</label>
          </div>
        </div>
      </div>
      <div class="form-group row">
      <div class="col-sm-2">Tipo comprobante</div>
      <div class="col-sm-10">
        <div class="form-check form-check-inline" *ngFor="let tipo of tComprobante" >
          <input class="form-check-input" type="checkbox" [(ngModel)]="tipo.isChecked" (change)="onCheckboxTipo()" value=tipo.value [ngModelOptions]="{standalone: true}">
          <label class="form-check-label" for="gridCheck1">{{tipo.text}}</label>
        </div>
      </div>
    </div>
    </div>
    <hr>
        <button class="btn btn-primary" (click)="habilitar=(habilitar==true)? false:true;" type="button" name="button">Nueva contraseña</button>
        <div class="form-row" *ngIf="habilitar">
          <div class="form-group col-md-4">
            <label>Contraseña nueva</label>
            <input [(ngModel)]="passwordNueva" type="password" class="form-control" placeholder="Password" name="password" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group col-md-4">
            <label>Repetir contraseña</label>
            <input [(ngModel)]="passwordRepetida" type="text" class="form-control" placeholder="Password" name="password" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
            <button  role="button" class="btn btn-primary float-right" >Guardar</button>
        </form>
          </div>
    </div>
    </div>
  </div>
  <!--end::contenido-->
  </div>
  <!--end::col-xl-4-->
</div>
<!--end::Dashboard-->
</div>
<!--end::Container-->
</div>
<!--end::Entry-->
</div>
<!--end::Content-->
<app-footer></app-footer>
</div>
<!--end::Wrapper-->
</div>
<!--end::Page-->
</div>
<!--end::Main-->
<!--begin::Panel-->
<!--<app-panel></app-panel>-->
<!--end::panel-->
