<!--begin::Header-->
				<div id="kt_header" class="header header-fixed">
					<!--begin::Container-->
					<div class="container d-flex align-items-stretch justify-content-between">
						<!--begin::Left-->
						<div class="d-flex align-items-stretch mr-3">
							<!--begin::Header Logo-->
							<div class="header-logo">
								<a routerLink="/home">
									<img alt="Logo" src="assets/media/logos/logo-letter-9.png"
										class="logo-default max-h-40px" />
									<img alt="Logo" src="assets/media/logos/logo-letter-1.png"
										class="logo-sticky max-h-40px" />
								</a>
							</div>
							<!--end::Header Logo-->
							<!--begin::Header Menu Wrapper-->
							<div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
								<!--begin::Header Menu-->
								<div id="kt_header_menu"
									class="header-menu header-menu-left header-menu-mobile header-menu-layout-default">
									<!--begin::Header Nav-->
									<ul class="menu-nav">
										<li class="menu-item"
											data-menu-toggle="click" aria-haspopup="true">

												<span class="menu-text text-white" routerLink="/home" >Dashboard</span>
												<i class="menu-arrow"></i>
										</li>
										<li class="menu-item menu-item-open"
											data-menu-toggle="click" aria-haspopup="true" *ngIf="authService.hasRole('ROLE_ADMIN')">
											<a class="menu-link menu-toggle" routerLinkActive="active"  routerLink="/clientes/ver" >
												Clientes
											</a>
										</li>
										<!--menu-item-active-->
										<li class="menu-item menu-item-open" data-menu-toggle="click"
											aria-haspopup="true">
											<a class="menu-link menu-toggle" routerLinkActive="active" routerLink="/cfdi/ver">
												Cfdi
											</a>
										</li>
										<li class="menu-item menu-item-open" data-menu-toggle="click"
											aria-haspopup="true" *ngIf="authService.hasRole('ROLE_ADMIN')">
											<a class="menu-link menu-toggle" routerLinkActive="active" routerLink="/usuarios/ver">
												Usuarios
											</a>
										</li>
										<!--<li class="menu-item menu-item-submenu" data-menu-toggle="click"
											aria-haspopup="true">
											<a class="menu-link menu-toggle" routerLinkActive="active" routerLink="/cfdi/sat/ver">
												Cfdi-Sat
											</a>
										</li>-->
									</ul>
									<!--end::Header Nav-->
								</div>
								<!--end::Header Menu-->
							</div>
							<!--end::Header Menu Wrapper-->
						</div>
						<!--end::Left-->
						<!--begin::Topbar-->
						<div class="topbar">
							<!--begin::Search-->

							<!--end::Search-->
							<!--begin::Notifications-->

							<!--end::Notifications-->
							<!--begin::My Cart-->

							<!--end::My Cart-->
							<!--begin::Quick panel-->

							<!--end::Quick panel-->
							<!--begin::Languages-->

							<!--end::Languages-->
							<!--begin::User-->
							<div class="dropdown">
								<!--begin::Toggle-->
								<div class="topbar-item" data-toggle="dropdown">
									<!--<button type="button" class="btn btn-icon btn-hover-transparent-white d-flex align-items-center btn-lg px-md-2 w-md-auto"  data-bs-target="#kt_quick_user_toggle"  aria-controls="kt_quick_user_toggle" >
									--><div class="btn btn-icon btn-hover-transparent-white d-flex align-items-center btn-lg px-md-2 w-md-auto">
										<span
											class="text-white opacity-70 font-weight-bold font-size-base d-none d-md-inline mr-1">Hola,</span>
										<span
											class="text-white opacity-90 font-weight-bolder font-size-base d-none d-md-inline mr-4">{{authService.usuario.username}}</span>
										<span class="symbol symbol-35">
											<span
												class="symbol-label text-white font-size-h5 font-weight-bold bg-white-o-30">S</span>
										</span>
									</div>
									<!--</button>-->
								</div>
								<!--begin::Dropdown-->
								<div
									class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg">
									<!--begin:Header-->
									<div class="d-flex flex-column flex-center py-2 bgi-size-cover bgi-no-repeat rounded-top"
										style="background-image: url(/assets/media/misc/bg-1.jpg)">
										<h4 class="text-white font-weight-bold">User Profile</h4>
										</div>
									<!--end:Header-->
									<!--begin:Nav-->
									<div class="row row-paddingless">
										<!--begin:Item-->
										<div class="col-6">
											<!--begin::Content-->
											<div class="offcanvas-content pr-5 mr-n5">
												<!--begin::Header-->
												<div class="d-flex align-items-center mt-5">
													<div class="symbol symbol-100 mr-5">
														<div class="symbol-label" style="background-image:url('/assets/media/users/300_21.jpg')"></div>
														<i class="symbol-badge bg-success"></i>
													</div>
													<div class="d-flex flex-column">
														<a  class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary">{{username}}</a>
														<div class="text-muted mt-1">Application Developer</div>
														<div class="navi mt-2">
															<a  class="navi-item">
																<span class="navi-link p-0 pb-2">
																	<span class="navi-icon mr-1">
																		<span class="svg-icon svg-icon-lg svg-icon-primary">
																			<!--begin::Svg Icon | path:/assets/media/svg/icons/Communication/Mail-notification.svg-->
																			<svg xmlns="http://www.w3.org/2000/svg"
																				xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
																				viewBox="0 0 24 24" version="1.1">
																				<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																					<rect x="0" y="0" width="24" height="24" />
																					<path
																						d="M21,12.0829584 C20.6747915,12.0283988 20.3407122,12 20,12 C16.6862915,12 14,14.6862915 14,18 C14,18.3407122 14.0283988,18.6747915 14.0829584,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,8 C3,6.8954305 3.8954305,6 5,6 L19,6 C20.1045695,6 21,6.8954305 21,8 L21,12.0829584 Z M18.1444251,7.83964668 L12,11.1481833 L5.85557487,7.83964668 C5.4908718,7.6432681 5.03602525,7.77972206 4.83964668,8.14442513 C4.6432681,8.5091282 4.77972206,8.96397475 5.14442513,9.16035332 L11.6444251,12.6603533 C11.8664074,12.7798822 12.1335926,12.7798822 12.3555749,12.6603533 L18.8555749,9.16035332 C19.2202779,8.96397475 19.3567319,8.5091282 19.1603533,8.14442513 C18.9639747,7.77972206 18.5091282,7.6432681 18.1444251,7.83964668 Z"
																						fill="#000000" />
																					<circle fill="#000000" opacity="0.3" cx="19.5" cy="17.5" r="2.5" />
																				</g>
																			</svg>
																			<!--end::Svg Icon-->
																		</span>
																	</span>
																	<span class="navi-text text-muted text-hover-primary">jm@softplus.com</span>
																</span>
															</a>
															<button (click)="logout()" class="btn btn-sm btn-light-primary font-weight-bolder py-2 px-5" type="submit" name="button">Sign Out</button>
														</div>
													</div>
												</div>
												<!--end::Header-->
												<!--begin::Separator-->
												<div class="separator separator-dashed mt-8 "></div>
												<!--end::Separator-->

											</div>
											<!--end::Content-->
										</div>
										<!--end:Item-->

									</div>
									<!--end:Nav-->
								</div>
								<!--end::Dropdown-->
								<!--end::Toggle-->
							</div>
							<!--end::User-->
						</div>
						<!--end::Topbar-->
					</div>
					<!--end::Container-->
				</div>
				<!--end::Header-->
				<!--begin::Panel-->
				<!--<app-panel></app-panel>-->
				<!--end::panel-->
