<!--begin::Main-->
<app-header-mobile></app-header-mobile>
<div class="d-flex flex-column flex-root" >
  <!--begin::Page-->
  <div class="d-flex flex-row flex-column-fluid page">
    <!--begin::Wrapper-->
    <div class="d-flex flex-column flex-row-fluid wrapper " id="kt_wrapper" >
      <!--begin::header-->
        <app-header></app-header>
      <!--end::header-->
      <!--begin::Content-->
    <br>
      <div class="content d-flex flex-column flex-column-fluid"  id="kt_content" style="height:490px;width:100%;overflow-y:auto;" >
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid" >
          <!--begin::Container-->
          <div class="container" >
            <!--begin::Row-->
            <div class="row">
                <!--begin::col-xl-4-->
              <div class="col-xl-12">
                <!--begin::contenido-->
                <div class="card card-custom gutter-b card-stretch">
<div class="container">
  <div class="card">
    <div class="card-header font-weight-bold">
      Editar cliente
    </div>
    <div class="card-body">
      <form (ngSubmit)="editar()" enctype="multipart/form-data">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="nombre">Nombre</label>
              <input [(ngModel)]="cliente.nombre" type="text" class="form-control" placeholder="Nombre" name="nombre" required #nombre="ngModel" ngDefaultControl>
              <div *ngIf="nombre.invalid && (nombre.touched)">
              <span class="text-danger font-weight-bold" *ngIf="nombre.errors.required">
                Nombre es requerido
              </span>
            </div>
            </div>
            <div class="form-group col-md-4">
              <label for="email">Email</label>
              <input [(ngModel)]="cliente.email" type="email" class="form-control"  placeholder="Email" name="email" ngDefaultControl>
            </div>
            <div class="form-group col-md-4">
              <label for="razonSocial">Razon social</label>
              <input [(ngModel)]="cliente.razonSocial" type="tetx" class="form-control" placeholder="Razon social" name="razonSocial" required
              #razonSocial="ngModel" [ngModelOptions]="{standalone: true}" ngDefaultControl>
              <div  *ngIf="razonSocial.invalid && (razonSocial.touched)">
              <span class="text-danger font-weight-bold" *ngIf="razonSocial.errors.required">
                Razon social es requerido
              </span>
            </div>
            </div>
            <div class="form-group col-md-4">
              <label for="rfc">Rfc</label>
              <input [(ngModel)]="cliente.rfc" type="text" class="form-control"  placeholder="Rfc" name="rfc"
              required #rfc="ngModel" ngDefaultControl>
              <div *ngIf="rfc.invalid && (rfc.dirty || rfc.touched)">
              <span class="text-danger font-weight-bold" *ngIf="rfc.errors.required">
                Rfc es requerido
              </span>
            </div>
            </div>
            <div class="form-group col-md-4">
              <label for="codigoPostal">Codigo postal</label>
              <input [(ngModel)]="cliente.codigoPostal" type="text" class="form-control" placeholder="Codigo postal" name="codigoPostal"
              required #codigoPostal="ngModel" [ngModelOptions]="{standalone: true}" ngDefaultControl>
              <div *ngIf="codigoPostal.invalid && (codigoPostal.dirty || codigoPostal.touched)">
              <div class="text-danger font-weight-bold" *ngIf="codigoPostal.errors.required">
                Codigo postal es requerido
              </div>
            </div>
            </div>
            <div class="form-group col-md-4">
              <label for="pais">País</label>
             <select  class="browser-default custom-select" [(ngModel)]="cliente.pais" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let pais of paises" [ngValue]="pais.value" >{{pais.text}}</option>
              </select>
            </div>

        </div>
        <hr>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="archivoCer">Archivo Cer</label>
            <input (change)="seleccionaCer($event)"  type="file" class="form-control-file" accept=".cer" >
            <span>{{cliente.nombreFileCer}}</span>
          </div>
          <div class="form-group col-md-4">
            <label for="archivoKey">Archivo Key</label>
            <input (change)="seleccionaKey($event)" type="file" class="form-control-file" accept=".key" >
            <span >{{cliente.nombreFileKey}}</span>
          </div>
          <div class="form-group col-md-4">
            <label for="logo">Logo</label>
            <input (change)="seleccionaLogo($event)" name="logo"  type="file" class="form-control-file" accept="image/*">
            <span >{{cliente.nombreLogo}}</span>
          </div>
          <div class="form-group col-md-4">
            <label for="passwordKey">Password key</label>
            <input [(ngModel)]="cliente.passwordKey" type="password" class="form-control"  placeholder="Password key"
            [ngModelOptions]="{standalone: true}" ngDefaultControl>
          </div>
          </div>
          <hr>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="servidor">Servidor</label>
              <input [(ngModel)]="cliente.servidor" type="text" class="form-control" placeholder="Servidor"
               [ngModelOptions]="{standalone: true}" ngDefaultControl>
            </div>
            <div class="form-group col-md-4">
              <label for="key">Key</label>
              <input [(ngModel)]="cliente.keyXsa" type="text" class="form-control" placeholder="Key"
              [ngModelOptions]="{standalone: true}" ngDefaultControl>
            </div>
            </div>
            <button  role="button" class="btn btn-primary float-right" >Guardar</button>
        </form>
          </div>
    </div>
    </div>
  </div>
  <!--end::contenido-->
  </div>
  <!--end::col-xl-4-->
  </div>
  <!--end::Dashboard-->
  </div>
  <!--end::Container-->
  </div>
  <!--end::Entry-->
  </div>
  <!--end::Content-->
  <app-footer></app-footer>
  </div>
  <!--end::Wrapper-->
  </div>
  <!--end::Page-->
  </div>
  <!--end::Main-->
  <!--begin::Panel-->
  <!--<app-panel></app-panel>-->
  <!--end::panel-->
